body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(image/bg1.png); /* Path to the image */
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    height: 109hv;
}


header {
    background-color: #d32f2f;
    color: white;
    text-align: center;
    padding: 40px;
}


nav a {
    background-color: #fdf59f;
    color: black;
    border-radius: 2px;
    margin: 0 1em;
    text-decoration: none;
    font-weight: bold;
    transition: box-shadow 0.15s;

}
nav a:hover {
    opacity: 0.8;
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);
   }
nav a:active {
     opacity: 0.5;
   }

/*
section {
    padding: 20px;
}*/

/*
footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}*/