

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: auto; 
    background-position: center; 
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(image/bg2.jpg);
    
}


header {
    background-color: #ffffff;
    color: #d00505;
    text-align: left;
    padding: 4px;
    padding-left: 1100px;
    
}

.circle-logo{
    border-radius: 50%;
    position: absolute;
    left: 60px;
    top:  20px;
    bottom: 50px;
}

.navbar ul {
    list-style-type: none;
    background-color: #d00505;   
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    padding-left: 80px;
    
}

.navbar li {
    display: inline;
    margin: 0 30px;
    float: left;
    
    
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block; 
    text-align: center;
    font-weight: 800;
    
}
.navbar a:hover {
    opacity: 0.8;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.15s;
    color: rgb(0, 0, 0);
}
.navbar a:active{
    opacity: 0.5;
}


.overview {
    color: rgb(255, 255, 255);
    max-width: 800px;
    margin-top: 7px;
    margin-bottom: 20px;
    padding-left: 200px;
}
.overview h2 {
    text-align: left;
    font-size: 50px;
    font-weight: 800;
    padding-left: 0px;
    color: #d00505;
}
.overview h3 {
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    padding-left: 0px;
    color: #d00505;
}

.historypictitle{
    display: flex;
    align-items: center;
    height: 70%;
    padding: 0 14%;
    color: #d00505;
    justify-content: space-between;
}
.historypictitle h4 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
}

.overview p {
    font-weight: 800;
    padding-left: 0px;
    
}
.bg1-img {
    border-radius:2mm;
    position: absolute;
    top: 200px;
    bottom: 100px;
    padding-left: 1000px;
}
.chico-img {
    border-radius:2mm;
    position: absolute;
    top: 390px;
    bottom: 100px;
    padding-left: 200px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);

  }

.inca-img {
    border-radius:2mm;
    position: absolute;
    top: 390px;
    bottom: 100px;
    padding-left: 598px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);

}

.machu-img {
    border-radius:2mm;
    position: absolute;
    top: 390px;
    bottom: 100px;
    padding-left: 985px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);

}

.intiraymi-img {
    border-radius:2mm;
    position: absolute;
    top: 170px;
    bottom: 100px;
    padding-left: 1030px; 
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);
}

.ceviche-img {
    border-radius:2mm;
    position: absolute;
    top: 410px;
    bottom: 100px;
    padding-left: 1030px; 
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);
}

.coast-img {
    border-radius:2mm;
    position: absolute;
    top: 200px;
    bottom: 100px;
    padding-left: 1030px; 
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);
}

.mountain-img {
    border-radius:2mm;
    position: absolute;
    top: 368px;
    bottom: 100px;
    padding-left: 1030px; 
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);
}

.amazon-img {
    border-radius:2mm;
    position: absolute;
    top: 515px;
    bottom: 100px;
    padding-left: 1030px; 
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);
}

.wiki-button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer; 
    transition: box-shadow 0.15s;
}
.wiki-button:hover{
    opacity: 0.8;
    box-shadow: 10px 10px 10px rgb(0, 0, 0 ,0.5);
    color: #d00505;
}
.wiki-button:active{
    opacity: 0.5;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d00505;
    color: #ffffff;
    text-align: center;
    
}